<div class="container-fluid bg-warning">
    <div class="container py-3">
        <h1 class="display-1 py-2">About the Project</h1>
        <p class="col-sm-6">This is simple quiz project made with nod and, express js.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="container py-5">
        <h2>Author:</h2>
        <ul class="px-2" style="list-style-type: none;">
            <li class="d-flex align-items-center">
                <img class="rounded-circle m-2" src="https://github.com/rir360.png" alt="" width="50px">
                <div class="col">
                    <a href="https://github.com/rir360" target="_blank">
                        Rejwan Islam Rizvy</a><br/>(Full-Stack)
                </div>
            </li>
        </ul>
        <h2>Contributors:</h2>
        <ul class="px-2" style="list-style-type: none;">
            <li class="d-flex align-items-center">
                <img class="rounded-circle m-2" src="https://github.com/SangitaChakraborty.png" alt="" width="50px">
                <div class="col">
                    <a href="https://github.com/SangitaChakraborty" target="_blank">
                    Sangita Chakraborty</a><br/>(Data Processor)
                </div>
            </li>
        </ul>
        <h2>Resources:</h2>
        <ul>
            <li><a href="https://www.proprofs.com/quiz-school/topic/computer" target="_blank">ProProfs</a></li>
        </ul>
    </div>
</div>