<div class="container-fluid bg-warning">
    <div class="container py-3">
        <h1 class="display-1 py-2">About the Project</h1>
        <p class="col-sm-6">This is simple quiz project made with nod and, express js.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="container py-5">
        <h2>Contributors:</h2>
        <ul>
            <li><a href="https://github.com/rir360" target="_blank">Rejwan Islam Rizvy</a></li>
            <li><a href="https://github.com/SangitaChakraborty" target="_blank">Sangita Chakraborty</a></li>
            <li><a href="https://github.com/rahin21" target="_blank">Rahin Zaman</a></li>
        </ul>
        <h2>Resources:</h2>
        <ul>
            <li><a href="https://www.proprofs.com/quiz-school/topic/computer" target="_blank">ProProfs</a></li>
        </ul>
    </div>
</div>