<div class="container-fluid bg-warning">
    <div class="container py-3">
        <h1 class="display-1 py-2">Computer Quiz</h1>
        <p class="col-sm-6">This is simple quiz platform where you can take quiz tests. You'll receive feedback upon test submit.</p>
        <a href="#" class="btn btn-lg btn-outline-dark mb-3">Give Test</a>
    </div>
</div>

<div class="container-fluid">
    <div class="container py-5">
        <p class="col-sm-6 display-5">There are total of <span class="display-2">{amount}</span><br/> questions available!</p>
        <a href="#" class="btn btn-lg btn-warning">All Quiz</a>
    </div>
</div>