<div class="container-fluid bg-danger">
    <div class="container py-3 text-white">
        <h1 class="display-1 py-2">404 Page not found</h1>
        <p class="col-sm-6">The route you wish to visit is not valid.</p>
    </div>
</div>