.q-options label:hover {
    background: var(--bs-light);
    cursor: pointer;
}
.correct {
    background: var(--bs-warning);
    color: var(--bs-dark);
}
.correct::after {
    content: " - Correct Answer";
}
.neutral {
    background: var(--bs-white);
    color: var(--bs-secondary);
}
.wrong {
    background: var(--bs-danger);
    color: var(--bs-light);
}
.wrong::after {
    content: " - Wrong Answer";
}
.go-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.go-top:hover {
    opacity: 0.7;
}